<div class="jumbotron">
  <h1 class="display-4">Welcome to Revisit AI</h1>
  <p class="lead">Your platform for scalable, affordable, and powerful AI solutions.</p>
  <hr class="my-4">
  <p>Explore our services and find out how we can help you leverage the power of AI.</p>
  <a class="btn btn-primary btn-lg" href="<%= services_path %>" role="button">Learn more</a>
</div>
