<div class="content">
  <div class="container flash-message">
    <% if alert %>
      <p class="alert alert-danger">
        <%= alert %>
      </p>
    <% end %>
    <% if notice %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
    <% end %>
  </div>
</div>
